<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="second"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nächste Woche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="nxtForm">
  <ion-radio-group formControlName="mo">
    <ion-row class="tit">Montag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="di">
    <ion-row class="tit">Dienstag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-leftt">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="mi">
    <ion-row class="tit">Mittwoch
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="do">
    <ion-row class="tit">Donnerstag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="fr">
    <ion-row class="tit">Freitag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="sa">
    <ion-row class="tit">Samstag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-radio-group formControlName="so">
    <ion-row class="tit">Sonntag
      <ion-col>
        <ion-item>
          <ion-label>früh</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label class="ion-text-left">spät</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>24h</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
</form>

  <ion-grid>
    <ion-row>      <ion-col><ion-button color="light" (click)="sendMail()">Absenden</ion-button></ion-col>
      <ion-col><ion-button color="light" (click)="goNext()">Weiter buchen</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

