<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nächste Woche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="nxtForm">
    <ion-label position="stacked">Montag</ion-label>
    <ion-input  formControlName="mo" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Dienstag</ion-label>
    <ion-input  formControlName="di" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Mittwoch</ion-label>
    <ion-input  formControlName="mi" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Donnerstag</ion-label>
    <ion-input  formControlName="do" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Freitag</ion-label>
    <ion-input  formControlName="fr" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Samstag</ion-label>
    <ion-input  formControlName="sa" type="text"
    placeholder="f/s/t"></ion-input>

    <ion-label position="stacked">Sonntag</ion-label>
    <ion-input  formControlName="so" type="text"
    placeholder="f/s/t"></ion-input>


    <ion-grid>
      <ion-row>      <ion-col><ion-button color="light" (click)="sendMail()">Absenden</ion-button></ion-col>
        <ion-col><ion-button color="light" (click)="goNext()">Weiter buchen</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
